@import "./colors";

// screen variables
$desktop: 1440px;
$tablet: 768px;

// padding variable
$pad: 0.5rem;

// typography
@mixin header {
  color: $text-dark;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
